In [12]:
#type strings
print("Hello World") #syntax basic menampilkan ke layar
print(type("Hello World")) #syntax melihat type variable

#dalam string boleh diisi kosong contohnya kaya gini
print (" ")

Hello World
<class 'str'>

In [5]:
#type integer
print (2001+1) #syntax basic aritmatika
print(type(2001))

2002
<class 'int'>

In [13]:
#type decimal (float)
print(5.38)
print(type(5.38))

print(5.)

print(.38)

print(.3E5)

print(5.2E-3)

5.38
<class 'float'>
5.0
0.38
30000.0
0.0052

In [15]:
#type boolean (Truthiness)
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

In [25]:
#menetapkan nilai variable
a = 150
print (a)
print (a,a)

#jika kamu suatu saat merubah nilai variable, secara otomatis output akan menghasilkan nilai variable yang baru.
#python 3 bisa menetapkan nilai yang sama pada variable yang berbeda , contohnya :

b = c = d = 300
print(b,c,d)

150
150 150
300 300 300

In [28]:
#type dari variable bisa berubah seiring dengan value dari variable terssebut
example = 250
print (example)

example = "Dua ratus lima puluh"
print (example)

250
Dua ratus lima puluh

In [41]:
#variable nama dimana variable bebas menggunakan huruf besar/kecil, dan perbedaan itu mengasilkan
#variable yang berbeda.

name = "Rayhan Prayogo"
Umur = 20
has_laptop = False
print (name,Umur,has_laptop)

#nama variable tidak boleh diawali dengan angka, akan muncul error invalid token.
#berikut contoh case huruf kecil dan besar menjadi berbeda variable.

age = 1
Age = "dua"
aGe = 3
AGE = (4.0)
a_g_e = 5
_age = "enam"
age_ = (7.0)
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

Rayhan Prayogo 20 False
1 dua 3 4.0 5 enam 7.0 8

In [40]:
print ("Metode yang paling umum digunakan untuk membuat nama variabel multi-kata adalah tiga contoh dibawah ini:")
print ("")
print ("Camel Case: Second and subsequent words are capitalized, to make word boundaries easier to see. Presumably, it struck someone at some point that the capital letters strewn throughout the variable name vaguely resemble camel humps.")
print ("Example: numberOfCollegeGraduates")
print ("")
print ("Pascal Case: Identical to Camel Case, except the first word is also capitalized.")
print ("Example: NumberOfCollegeGraduates")
print ("")
print ("Snake Case: Words are separated by underscores.")
print ("Example: number_of_college_graduates")
print ("")
print ("Gunakan salah satu dari ketiganya yang paling menarik secara visual bagi kalian. Pilih satu dan gunakan secara konsisten")

Metode yang paling umum digunakan untuk membuat nama variabel multi-kata adalah tiga contoh dibawah ini:

Camel Case: Second and subsequent words are capitalized, to make word boundaries easier to see. Presumably, it struck someone at some point that the capital letters strewn throughout the variable name vaguely resemble camel humps.
Example: numberOfCollegeGraduates

Pascal Case: Identical to Camel Case, except the first word is also capitalized.
Example: NumberOfCollegeGraduates

Snake Case: Words are separated by underscores.
Example: number_of_college_graduates

Gunakan salah satu dari ketiganya yang paling menarik secara visual bagi kalian. Pilih satu dan gunakan secara konsisten

In [52]:
#operator & experiences

a = c = 40
b = d = 50
print (a + b)
print (c + d - 5)

90
85

In [55]:
#operator aritmatika
a = 8
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

10
6
16
4.0
0
64

In [57]:
#operator compare / pembanding

a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)


a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

In [64]:
# + Operators
s = 'ray'
t = 'han'
u = 'prayogo'

print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'Batch 058')

rayhan
rayhanprayogo
Hacktiv8 Batch 058

In [66]:
# * Operators
a = 'ray'
a * 3
print (a in 'pembayaran pesta')
print (a in 'perayaan pesta')

False
True

In [68]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [71]:
#list (daftar) dalam python, 1. umumnya menggunakan symbol [], 2. beragam tipe data, 3. bisa diakses lewat index,
#4. memilih porsi index ditampilkan  ekpresi a[m:n]
varchar = ['rayhan','prayogo','is','humble']
variable = ['rayhan','prayogo','as','human']
print (var)
varchar == variable

['rayhan', 'prayogo', 'is', 'humble']

False

In [74]:
#2. beragam tipe data
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [77]:
#3. bisa diakses lewat index
a = ['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
print (a[0])
print (a[-3])

pisang
jahe

In [80]:
#4. memilih porsi index ditampilkan, ekpresi a[m:n]

a = ['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']

a[2:5]

# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grape','jelly'])
print(a * 2)

# len(), min(), max()
print(a)

print(len(a))
print(min(a))
print(max(a))

['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas', 'grape', 'jelly']
['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas', 'pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
6
jahe
pisang

In [82]:
#Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana
a = ['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']

print(a)

a[2] = 10
a[-1] = 20

print(a)

# A list item can be deleted with the del command:
del a[3]
print(a)

['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
['pisang', 'nanas', 10, 'jahe', 'jeruk', 20]
['pisang', 'nanas', 10, 'jeruk', 20]

In [87]:
#jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus
a = ['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['nanas', 'madu', 'jahe']
['pisang', 1.1, 2.2, 3.3, 4.4, 5.5, 'jeruk', 'lengkuas']

In [88]:
t = ['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
print(t)
print (t[0])
print (t[-3])

#packing and unpacking
(t1,t2,t3,t4) = ('pisang','nanas', 'madu', 'jahe')
t1

['pisang', 'nanas', 'madu', 'jahe', 'jeruk', 'lengkuas']
pisang
jahe

'pisang'

In [91]:
PUBGM_team = {
    'BIGETRON': 'Red Aliens',
    'AEROWOLF': 'Limax',
    'EVOS': 'Twins',
    'ALTEREGO': 'Brewers',
    'SEATTLE': 'Mariners',
}

print (PUBGM_team['BIGETRON'])
print (PUBGM_team['ALTEREGO'])

#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

Red Aliens
Brewers